.div1 {
    background-color: gray;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.div2 {
    background-color: lightgray;
    height: 30px;
    padding-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

h2 {
    text-align: center;