.div1 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: navy;
    justify-content: space-around;
}

.p1 {
    font-size: small;
}

.p2 {
    display: flex;
    gap: 30px;
    font-size: small;
}

.logo {
    display: flex;
    align-items: center;
}

.button:hover {
    color: rgb(243, 236, 236);
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.button1 {
    color: red;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid red;
}

.getSTbutton {
    border-radius: 5px;
    background-color: rgb(137, 25, 25);
    color: white;
    border: none;
    cursor: pointer;
}

.SelectBT {
    color: red;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid red;
}

.picture {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: space-around;

}

.icons1 {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(217, 92, 92);
    border-right: 5px;
}

.font {
    color: black;
}

.i1 {
    font-size: 30px;
}

.i2 {
    color: green;

}

.check {
    display: flex;
    justify-content: space-evenly;

}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.p3 {
    text-align: center;
}

.free {
    display: flex;
    border: solid 1px brown;
    border-radius: 10px;
    text-align: left;

}

.standard {
    display: flex;
    border: solid 1px brown;
    border-radius: 10px;
    text-align: left;
}

.premium {
    display: flex;
    border: solid 1px brown;
    border-radius: 10px;
}